<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RewardsReasons</key>
	<array>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>rewardsKey</key>
			<string>3</string>
			<key>message</key>
			<string>连续三个月补考不合格</string>
			<key>measure</key>
			<string>调离岗位或者末尾淘处理</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>measure</key>
			<string>晋升/年终考评的重要依据之一</string>
			<key>message</key>
			<string>成绩合格</string>
			<key>rewardsKey</key>
			<string>4</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>measure</key>
			<string>半年内不能参加晋级测评</string>
			<key>message</key>
			<string>连续两个月补考不合格</string>
			<key>rewardsKey</key>
			<string>2</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>message</key>
			<string>参加外部培训未能达到指定服务年限提前离职</string>
			<key>measure</key>
			<string>依照培训协议中有关规定进行赔偿</string>
			<key>rewardsKey</key>
			<string>1</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>rewardsKey</key>
			<string>5</string>
			<key>message</key>
			<string>不合格/未获得培训证书</string>
			<key>measure</key>
			<string>培训费用个人承担</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>measure</key>
			<string>调离岗位/降级处理</string>
			<key>message</key>
			<string>违反规定无法通过考试/获得证书</string>
			<key>rewardsKey</key>
			<string>6</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>5</string>
			<key>measure</key>
			<string>加5分</string>
			<key>message</key>
			<string>品行端正,工作努力,能及时完成任务,成绩显著者</string>
			<key>rewardsKey</key>
			<string>7</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>5</string>
			<key>measure</key>
			<string>加5分</string>
			<key>message</key>
			<string>维护团体荣誉,有具体事迹者</string>
			<key>rewardsKey</key>
			<string>8</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>5</string>
			<key>measure</key>
			<string>加5分</string>
			<key>message</key>
			<string>工作积极主动,不计较个人得失者</string>
			<key>rewardsKey</key>
			<string>9</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>5</string>
			<key>measure</key>
			<string>加5分</string>
			<key>message</key>
			<string>获得客户褒扬,为公司争得荣誉者</string>
			<key>rewardsKey</key>
			<string>10</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>5</string>
			<key>measure</key>
			<string>加5分</string>
			<key>message</key>
			<string>拾金不昧价值1000元以上者</string>
			<key>rewardsKey</key>
			<string>11</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>5</string>
			<key>measure</key>
			<string>加5分</string>
			<key>message</key>
			<string>有其他功绩,足可以为其他公司楷模者</string>
			<key>rewardsKey</key>
			<string>12</string>
		</dict>
		<dict>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>对技术或管理制度提出具体方案,经采纳确有成效者</string>
			<key>rewardsKey</key>
			<string>13</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>10</string>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>节约物料或废物利用具有成效者</string>
			<key>rewardsKey</key>
			<string>14</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>10</string>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>预防事故或设备故障或抢修使精英不至中断者</string>
			<key>rewardsKey</key>
			<string>15</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>10</string>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>举报违规或损害本公司利益的案件者</string>
			<key>rewardsKey</key>
			<string>16</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>10</string>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>领导有方,使业务工作拓展有相当成效者</string>
			<key>rewardsKey</key>
			<string>17</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>10</string>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>遇有灾害,勇于负责,并措施得当者</string>
			<key>rewardsKey</key>
			<string>18</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>10</string>
			<key>measure</key>
			<string>加10分</string>
			<key>message</key>
			<string>具有其他较大功绩者</string>
			<key>rewardsKey</key>
			<string>19</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>25</string>
			<key>measure</key>
			<string>加25分</string>
			<key>message</key>
			<string>遇有意外事件或灾害,奋不顾身,极力抢救而减少损失者</string>
			<key>rewardsKey</key>
			<string>20</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>25</string>
			<key>measure</key>
			<string>加25分</string>
			<key>message</key>
			<string>维护公司安全,毛线执行任务,确有实际功绩者</string>
			<key>rewardsKey</key>
			<string>21</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>25</string>
			<key>measure</key>
			<string>加25分</string>
			<key>message</key>
			<string>维护本公司重大利益,竭尽全力,避免重大损失者</string>
			<key>rewardsKey</key>
			<string>22</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>25</string>
			<key>measure</key>
			<string>加25分</string>
			<key>message</key>
			<string>具有其他重大功绩，足为其他员工表率者。</string>
			<key>rewardsKey</key>
			<string>23</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string></string>
			<key>measure</key>
			<string>重奖(视情况而定)或晋级(同时加薪)</string>
			<key>message</key>
			<string>服务满2年,考绩优良,未旷工或受过记过处理者</string>
			<key>rewardsKey</key>
			<string>24</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string></string>
			<key>measure</key>
			<string>重奖(视情况而定)或晋级(同时加薪)</string>
			<key>message</key>
			<string>一年内记大功3次者,足为公司表率</string>
			<key>rewardsKey</key>
			<string>25</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string></string>
			<key>measure</key>
			<string>重奖(视情况而定)或晋级(同时加薪)</string>
			<key>message</key>
			<string>实施措施,降低经营成本,公司利润增加者</string>
			<key>rewardsKey</key>
			<string>26</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string></string>
			<key>measure</key>
			<string>重奖(视情况而定)或晋级(同时加薪)</string>
			<key>message</key>
			<string>业绩优良,积极上进,能团结员工并有组织才能者</string>
			<key>rewardsKey</key>
			<string>27</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-5</string>
			<key>measure</key>
			<string>警告,扣5分</string>
			<key>message</key>
			<string>因个人工作失误，造成公司损失，情节轻微者</string>
			<key>rewardsKey</key>
			<string>28</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-5</string>
			<key>measure</key>
			<string>警告,扣5分</string>
			<key>message</key>
			<string>业务不熟，不能及时完成领导交代的任务</string>
			<key>rewardsKey</key>
			<string>29</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-5</string>
			<key>measure</key>
			<string>警告,扣5分</string>
			<key>message</key>
			<string>不按规定穿着工服或佩带工牌者</string>
			<key>rewardsKey</key>
			<string>30</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-5</string>
			<key>measure</key>
			<string>警告,扣5分</string>
			<key>message</key>
			<string>不服从领导合理指挥，情节轻微者</string>
			<key>rewardsKey</key>
			<string>31</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-5</string>
			<key>measure</key>
			<string>警告,扣5分</string>
			<key>message</key>
			<string>上班期间，擅离职守怠慢工作者</string>
			<key>rewardsKey</key>
			<string>32</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>measure</key>
			<string>警告,处1-25分处罚</string>
			<key>message</key>
			<string>泄露公司机密,尚未造成严重后果或经济损失的</string>
			<key>rewardsKey</key>
			<string>33</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>measure</key>
			<string>警告,处1-25分处罚</string>
			<key>message</key>
			<string>违反本制度规定,无意中泄露秘密内容的</string>
			<key>rewardsKey</key>
			<string>34</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>0</string>
			<key>measure</key>
			<string>警告,处1-25分处罚</string>
			<key>message</key>
			<string>已泄露公司秘密但采取补救措施的</string>
			<key>rewardsKey</key>
			<string>35</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-10</string>
			<key>measure</key>
			<string>记过,扣10分</string>
			<key>message</key>
			<string>因个人原因不能适时完成领导交代的任务，影响公司利益者</string>
			<key>rewardsKey</key>
			<string>36</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-10</string>
			<key>measure</key>
			<string>记过,扣10分</string>
			<key>message</key>
			<string>在工作场所酗酒妨害公司正常工作不听劝阻者</string>
			<key>rewardsKey</key>
			<string>37</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-10</string>
			<key>measure</key>
			<string>记过,扣10分</string>
			<key>message</key>
			<string>工作时间妨害公司正常工作不听劝阻者</string>
			<key>rewardsKey</key>
			<string>38</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-10</string>
			<key>measure</key>
			<string>记过,扣10分</string>
			<key>message</key>
			<string>未经许可，留宿外人住宿的</string>
			<key>rewardsKey</key>
			<string>39</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-25</string>
			<key>measure</key>
			<string>记大过,扣25分</string>
			<key>message</key>
			<string>擅离职守给公司造成重大损失者</string>
			<key>rewardsKey</key>
			<string>40</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-25</string>
			<key>measure</key>
			<string>记大过,扣25分</string>
			<key>message</key>
			<string>对同仁恶意攻击或诬害，制造事端者</string>
			<key>rewardsKey</key>
			<string>41</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-25</string>
			<key>measure</key>
			<string>记大过,扣25分</string>
			<key>message</key>
			<string>损毁公司重要文件或物品者</string>
			<key>rewardsKey</key>
			<string>42</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-25</string>
			<key>measure</key>
			<string>记大过,扣25分</string>
			<key>message</key>
			<string>怠慢工作或擅改工作方法，给公司造成重大损失者</string>
			<key>rewardsKey</key>
			<string>43</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-25</string>
			<key>measure</key>
			<string>记大过,扣25分</string>
			<key>message</key>
			<string>不服从领导合理指挥，屡劝不听者</string>
			<key>rewardsKey</key>
			<string>44</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-25</string>
			<key>measure</key>
			<string>记大过,扣25分</string>
			<key>message</key>
			<string>拒不接受工作安排或严重消极怠工者</string>
			<key>rewardsKey</key>
			<string>45</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>提供虚假入职资料的</string>
			<key>rewardsKey</key>
			<string>46</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>对同仁以暴力或以暴力相威胁，严重防害公司团体秩序者</string>
			<key>rewardsKey</key>
			<string>47</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>在公司、宿舍等场所赌博者</string>
			<key>rewardsKey</key>
			<string>48</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>贪污或偷窃公司及个人财物者</string>
			<key>rewardsKey</key>
			<string>49</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>私自炒单（包括车辆销售、保险销售、佣金、车辆维修、索赔、保险理赔等）获取利益者或未经许可兼任其他公司职务者</string>
			<key>rewardsKey</key>
			<string>50</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>服务期间被刑事处分者</string>
			<key>rewardsKey</key>
			<string>51</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>一个月内累计旷工5天者</string>
			<key>rewardsKey</key>
			<string>52</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>煽动员工怠工或散播不利公司的谣言及挑拨员工与公司关系者</string>
			<key>rewardsKey</key>
			<string>53</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>不求有功，但求无过，只讲索取，不讲奉献者</string>
			<key>rewardsKey</key>
			<string>54</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>吸食毒品者或参加非法组织者</string>
			<key>rewardsKey</key>
			<string>55</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>伪造公司印章或盗用公司印章者</string>
			<key>rewardsKey</key>
			<string>56</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>故意泄露公司机密给公司造成重大损失者</string>
			<key>rewardsKey</key>
			<string>57</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>利用公司名义在外招摇撞骗，致使公司名誉重大损失者</string>
			<key>rewardsKey</key>
			<string>58</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>擅离职守给公司造成不可挽回的重大损失者</string>
			<key>rewardsKey</key>
			<string>59</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>开除</string>
			<key>message</key>
			<string>其他重大违法或违反本公司相关规定的</string>
			<key>rewardsKey</key>
			<string>60</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>辞退并按照情节轻重赔偿经济损失并追究刑事责任</string>
			<key>message</key>
			<string>故意或过失泄露公司秘密，造成严重后果或造成重大经济损失的</string>
			<key>rewardsKey</key>
			<string>61</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>辞退并按照情节轻重赔偿经济损失并追究刑事责任</string>
			<key>message</key>
			<string>违反制度规定,为他人窃取,试探,收买或违规提供公司秘密的</string>
			<key>rewardsKey</key>
			<string>62</string>
		</dict>
		<dict>
			<key>deductScore</key>
			<string>-100</string>
			<key>measure</key>
			<string>辞退并按照情节轻重赔偿经济损失并追究刑事责任</string>
			<key>message</key>
			<string>利用职权强制他人违反保密制度的</string>
			<key>rewardsKey</key>
			<string>63</string>
		</dict>
	</array>
</dict>
</plist>
