<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52B3292E1FEDEF2400B0B854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B329421FEDEF2400B0B854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B3294D1FEDEF2400B0B854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
